@model AppVendas.Models.Categoria

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar Categoria</h1>

<hr />
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col">
            <input type="hidden" asp-for="CategoriaId" />
            <div class="form-group">
                <label asp-for="CategoriaNome" class="control-label"></label>
                <input asp-for="CategoriaNome" class="form-control" />
                <span asp-validation-for="CategoriaNome" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary d-flex align-items-center px-5 mt-3 w-100 justify-content-center py-3">
                            <ion-icon name="save-outline" class="me-2"></ion-icon> Salvar
                        </button>
                    </div>
                </div>
                <div class="col-4"></div>
                <div class="col-4">
                    <a asp-action="Index" class="btn btn-outline-info d-flex align-items-baseline align-content-center px-5 mt-3 w-100 justify-content-center py-3">
                        <ion-icon name="arrow-back" class="me-2"></ion-icon> Voltar
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
